@{
    //Author: Damian Sauren
    ViewData["Title"] = "Dashboard";
    @model DeviceModel
}

<h1>Dashboard</h1>

<div class="container">
    <div class="row">
        @{
            List<DeviceModel> devices = ViewBag.Devices;

            if (devices.Count > 0)
            {
                foreach (DeviceModel device in devices)
                {
                    <div class="col">
                        @device.DeviceId
                        @device.DeviceName
                        @switch (device.DeviceCategory)
                        {
                            case DeviceCategory.TempSensor:
                        <div id="@device.DeviceId-temperature">                                                  
                            @((device.DeviceProperties as DeviceModel.TempSensor).Temperature)
                        </div>
                                break;
                            case DeviceCategory.MotionSensor:
                                <div id="@device.DeviceId-isTriggered">@((device.DeviceProperties as DeviceModel.MotionSensor).IsTriggered)</div>
                                <div id="@device.DeviceId-timeOfTrigger">@((device.DeviceProperties as DeviceModel.MotionSensor).TimeOfTrigger)</div>
                                break;
                            case DeviceCategory.Light:
                                <input type="color" id="@device.DeviceId-color" value="@((device.DeviceProperties as DeviceModel.Light).HexColor)"/>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="@device.DeviceId-switch" checked="@((device.DeviceProperties as DeviceModel.Light).IsOn)">
                                    <label class="custom-control-label" for="@device.DeviceId-switch">Turn light on/off</label>
                                </div>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                                    }
                    </div>
                }
            }
            else
            {
                <p>
                    No devices found.
                </p>
            }
        }
    </div>
</div>

<div>
    <a asp-action="AddDevice">Add a new device</a>
</div>